.env
./docs

*.pyc
__pycache__/
*.$py.class

.Python
build/
dist/
wheels/
*.egg-info/
.installedfiles

venv/
env/
.venv/
.env

.DS_Store
.idea/
.vscode/

chroma_openai/
chroma-collections.parquet
chroma-embeddings.parquet